################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/JBS Tool/FileContentIndex/a1804c10-311d-4796-a461-49afdb4f74e0.vsidx
